<template>
    <el-button size="small" @click="back" class="margin-b-20">返回</el-button>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        back() {
            this.$router.go(-1);
        }
    },
    components: {}
};
</script>
<style lang="less" scoped="scoped"></style>
