<template>
<div class="wrap">
    <!--      <el-table :data="tableData" style="width: 100%" :default-sort="{ prop: 'date', order: 'descending' }">
              <el-table-column prop="date" label="日期" width="180"></el-table-column>
              <el-table-column prop="name" label="姓名" width="180"></el-table-column>
              <el-table-column prop="address" label="地址" :formatter="formatter"></el-table-column>
          </el-table> -->
</div>
</template>
<script>
export default {
name: "",
data() {
return {};
},
computed: {},
mounted() {},
created() {},
methods: {},
components: {}
};
</script>
<style lang="less" scoped="scoped"></style>