<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <div class="flex flex-h-end "><el-button type="primary" round @click="addApproval">新增</el-button></div>
            <el-table ref="multipleTable" :data="approvalList" tooltip-effect="dark" stripe style="width: 100%" @selection-change="handleSelectionChange">
                <!-- 0 未开始、1 等待确认、2 已确认、3 审批中、4 结束 -->
                <el-table-column prop="status" label="状态" width="80">
                    <template slot-scope="scope">
                      <el-tag>{{ status[scope.row.status] }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="roles" label="岗位" show-overflow-tooltip>
                    <template slot-scope="scope">
                        <div class="">
                            <div class="margin-b-10" v-for="(item, index) in scope.row.roles">
                                <el-tag effect="plain" type="info">{{ item }}</el-tag>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="node" label="审批节点">
                    <template slot-scope="scope">
                        <div class="flex">
                            <span v-for="(item, index) in scope.row.nodes">{{ index === 0 ? item.name : '->' + item.name }}</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间" width="160"></el-table-column>
                <el-table-column prop="edit" label="操作" :width="getEditColumnWidth">
                    <template slot-scope="scope">
                        <div class=" primary-color flex">
                            <el-button size="small" @click="view(scope.row.id)">查看</el-button>
                            <el-button type="info" size="small" @click="copyItem(scope.row.id)">复制</el-button>
                            <el-button type="primary" size="small" @click="edit(scope.row.id)" v-if="scope.row.status == 0">编辑</el-button>
                            <el-button type="success" size="small" @click="startApproval(scope.row.id)" v-if="scope.row.status == 0">发起</el-button>
                            <el-button type="danger" size="small" @click="deleteItem(scope.row.id)" v-if="scope.row.status == 0">删除</el-button>
                            <el-button type="warning" size="small" @click="resetItem(scope.row.id)" v-if="scope.row.status > 0 && scope.row.status < 4">重置</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
          <!-- 分页 -->
          <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { getApprovalList, deleteApproval, startApproval, resetApproval,copyApproval } from '@/api/approval';
export default {
    name: '',
    data() {
        return {
            approvalList: [],
            status: {
                0: '未开始',
                1: '等待确认',
                2: '已确认',
                3: '审批中',
                4: '结束'
            },
            total: -1,
            pageLimit: 10,
            pageNum: 1
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/performance/approvalList';
        },
        getEditColumnWidth() {
            //
            let hasStatus0 = this.approvalList.some(item => {
                return item.status == 0;
            });
            if (hasStatus0) {
                return 350;
            }
            return 210;
        }
    },
    mounted() {},
    created() {
        this.getApprovalList();
    },
    methods: {
        async getApprovalList() {
            let { data } = await getApprovalList({
                page: this.pageNum,
                limit: this.pageLimit
            });
            data.list.forEach(item => {
                item.nodes.sort((a, b) => {
                    return a.order - b.order;
                });
            });
            this.approvalList = data.list;
            this.total = data.meta.pagination.total;
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        //新增
        addApproval() {
            this.$router.push({
                path: '/performance/newApproval',
                query: {
                    type: 'new'
                }
            });
        },
        // 编辑
        edit(approvalId) {
            this.$router.push({
                path: '/performance/editApproval',
                query: {
                    type: 'edit',
                    approvalId: approvalId
                }
            });
        },
        view(approvalId) {
            this.$router.push({
                path: '/performance/editApproval',
                query: {
                    type: 'view',
                    approvalId: approvalId
                }
            });
        },
        // 发起
        startApproval(approvalId) {
            this.$confirm('确认发起该绩效审批？', '确认信息')
                .then(res => {
                    this.sureApproval(approvalId);
                })
                .catch(() => {});
        },
        // 确认发起
        async sureApproval(approvalId) {
            let res = await startApproval(approvalId);
            if (res.status === 'success') {
                this.getApprovalList();
            }
        },
        // 复制
        copyItem(approvalId) {
          this.$confirm('确认复制该绩效审批？', '确认信息')
              .then(res => {
                this.sureCopy(approvalId);
              })
              .catch(() => {});
        },
        // 删除绩效指标
        deleteItem(approvalId) {
            this.$confirm('确认删除该绩效审批？', '确认信息')
                .then(res => {
                    this.sureDelete(approvalId);
                })
                .catch(() => {});
        },
        // 确认复制
        async sureCopy(approvalId) {
          let res = await copyApproval(approvalId);
          if (res.status === 'success') {
            this.$message.success('复制成功！');
            this.getApprovalList();
          }
        },
        // 确认删除
        async sureDelete(approvalId) {
            let res = await deleteApproval(approvalId);
            if (res.status === 'success') {
                this.$message.success('删除成功！');
                this.getApprovalList();
            }
        },
        // 重置
        resetItem(approvalId) {
            this.$confirm('确认重置该绩效审批？', '确认信息')
                .then(res => {
                    this.sureReset(approvalId);
                })
                .catch(() => {});
        },
        // 确认重置
        async sureReset(approvalId) {
            let res = await resetApproval(approvalId);
            if (res.status === 'success') {
                this.$message.success('删除成功！');
                this.getApprovalList();
            }
        },
        handleCurrentChange(page) {
            this.pageNum = page;
            this.getApprovalList();
        }
    },
    components: {},
    watch: {
        $route: {
            handler(newRouter) {
                this.pageNum = 1;
                this.getApprovalList();
            }
        }
    }
};
</script>
<style lang="less" scoped="scoped"></style>
