<template>
    <div class="new-activity">
        <!-- 表单部分 -->
        <div class="from-wrap ">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="" label-position="right">
                <!-- ID -->
                <el-row type="flex" justify="center" v-if="type == 'edit' || type == 'view'">
                    <el-col :span="20">
                        <el-form-item label="ID" prop="id"><el-input v-model="ruleForm.id" placeholder="" disabled></el-input></el-form-item>
                    </el-col>
                </el-row>
                <!-- 岗位 -->
                <el-row type="flex" justify="center">
                    <el-col :span="20">
                        <el-form-item label="岗位" prop="roles" required>
                            <el-select v-model="ruleForm.roles" multiple placeholder="请选择岗位" :disabled="type == 'view'">
                                <el-option v-for="item in selectRoleList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 名称 -->
                <el-row type="flex" justify="center">
                    <el-col :span="20">
                        <el-form-item label="名称" prop="name" required>
                            <el-input v-model="ruleForm.name" placeholder="请输入名称" :disabled="type == 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 绩效指标 -->
                <el-row type="flex" justify="center">
                    <el-col :span="20">
                        <el-form-item label="绩效指标">
                            <el-table ref="multipleTable" :data="ruleForm.indicators" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                               <el-table-column label="维度" width="120px">
                                   <template slot-scope="scope">
                                     <el-tag>{{ dimensions[scope.row.dimension] }}</el-tag>
                                   </template>
                               </el-table-column>
                                <el-table-column label="指标">
                                    <template slot-scope="scope">
                                        <el-select v-model="scope.row.id" placeholder="请选择指标" @change="indicatorsChange" :disabled="type == 'view'">
                                            <el-option :label="item.name" :value="item.id" v-for="item in dimensionsList"></el-option>
                                        </el-select>
                                    </template>
                                </el-table-column>
                                <el-table-column label="权重">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.weight" placeholder="请输入权重" :disabled="type == 'view'">
                                            <template slot="append">
                                                %
                                            </template>
                                        </el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="标准分" width="120px">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.weight" :disabled="true"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="目标值">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.target_value" placeholder="请输入目标值" :disabled="type == 'view'"></el-input>
                                    </template>
                                </el-table-column>

                                <el-table-column label="操作" fixed="right" v-if="type !== 'view'">
                                    <template slot-scope="scope">
                                        <div class=" primary-color flex"><el-button type="danger" size="small" @click="deleteIndicator(scope)">删除</el-button></div>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-button type="primary" size="small" class="margin-t-20" @click="addIndicator" v-if="type !== 'view'">新增</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 审批节点 -->
                <el-row type="flex" justify="center">
                    <el-col :span="20">
                        <el-form-item label="审批节点">
                            <el-table ref="multipleTable" :data="ruleForm.nodes" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                                <el-table-column label="节点" width="180px">
                                    <template slot-scope="scope">
                                        <el-select v-model="scope.row.id" placeholder="请选择节点" :disabled="type == 'view'">
                                            <el-option :label="item.name" :value="item.id" v-for="item in nodeList" :key="item.id"></el-option>
                                        </el-select>
                                    </template>
                                </el-table-column>
                                <el-table-column label="顺序" width="180px">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.order" placeholder="请输入顺序" :disabled="type == 'view'"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作" fixed="right" v-if="type !== 'view'">
                                    <template slot-scope="scope">
                                        <div class=" primary-color flex"><el-button type="danger" size="small" @click="deleteNode(scope)">删除</el-button></div>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-button type="primary" size="small" class="margin-t-20" @click="addNode" v-if="type !== 'view'">新增</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row type="flex" justify="center" v-if="type == 'new' || type == 'edit'">
                    <el-col :span="20">
                        <div class="flex flex-h-between">
                            <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
import { getSelectRoleList } from '@/api/role';
import { getDimensionsList } from '@/api/approval';
import { getNodeAll } from '@/api/nodes';
import { getApprovalDetail, addApproval, editApproval } from '@/api/approval.js';
export default {
    name: '',
    data() {
        return {
            ruleForm: {
                name: '',
                roles: [],
                indicators: [],
                nodes: []
            },
            rules: {
                dimension: [{ required: true, message: '请选择维度', trigger: 'blur' }],
                name: [{ required: true, message: '请输入名称', trigger: 'blur' }]
            },
            // 岗位列表
            selectRoleList: [],
            // 绩效指标列表
            dimensionsList: [],
            // 审批节点列表
            nodeList: [],
            // 审批id
            approvalId: '',
            // 当前用户类型 新增 编辑 查看
            type: '',
            dimensions: {
                1: '价值观',
                2: '过程数据',
                3: '加分项',
                4: '总结'
            }
        };
    },
    computed: {},
    mounted() {},
    async created() {
        this.type = this.$route.query.type || 'new';
        this.approvalId = this.$route.query.approvalId || '';
        this.getList();
    },
    methods: {
        async getList() {
            let res1 = await getSelectRoleList();
            this.selectRoleList = res1.data;
            let res2 = await getDimensionsList();
            this.dimensionsList = res2.data;
            let res3 = await getNodeAll();
            this.nodeList = res3.data;
            if ((this.type === 'edit' || this.type === 'view') && this.approvalId && this.selectRoleList.length > 0) {
                this.getApprovalDetail(this.approvalId);
            }
        },
        // 获取审批详情
        async getApprovalDetail(approvalId) {
            let { data } = await getApprovalDetail(approvalId);
            data.roles = data.roles.map(item => {
                let id = this.selectRoleList.filter(item2 => {
                    return item2.name == item;
                })[0].id;
                return (item = id);
            });
            data.nodes.forEach(item => {
                delete item['name'];
            });
            this.ruleForm = data;
        },
        // 新增绩效指标
        addIndicator() {
            let indicator = {
                id: '',
                dimension: '',
                name: '',
                weight: '',
                target_value: '',
                assessment_criteria: '',
                remarks: ''
            };
            this.ruleForm.indicators.push(indicator);
        },
        deleteIndicator(item) {
            this.ruleForm.indicators.splice(item.$index, 1);
        },
        // 新增节点
        addNode() {
            let node = {
                id: '',
                order: ''
            };
            this.ruleForm.nodes.push(node);
        },
        deleteNode(item) {
            this.ruleForm.nodes.splice(item.$index, 1);
        },
        indicatorsChange(val) {
            let res = this.dimensionsList.filter(item => {
                return item.id === val;
            });
            this.ruleForm.indicators.forEach(item => {
                if (item.id == val) {
                    item.assessment_criteria = res[0].assessment_criteria;
                    item.remarks = res[0].assessment_criteria;
                    item.name = res[0].name;
                    item.dimension = res[0].dimension;
                }
            });
        },
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    console.log(this.ruleForm);
                    this.$showLoading();
                    if (this.type == 'edit' && this.approvalId) {
                        this.editApproval(this.approvalId, this.ruleForm);
                    } else {
                        this.addApproval();
                    }
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        // 新增
        async addApproval(approvalId) {
            try {
                let res = await addApproval(this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('新增绩效审批成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        },
        // 编辑
        async editApproval(approvalId) {
            try {
                let res = await editApproval(approvalId, this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('编辑绩效审批成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        },
        handleSelectionChange() {}
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped"></style>
