<template>
    <div class="new-activity">
        <!-- 表单部分 -->
        <div class="from-wrap ">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="" label-position="right">
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="类型" prop="type" required>
                            <el-select v-model="ruleForm.type" placeholder="请选择类型" :disabled="type === 'view'" @change="onSelectChange">
                                <el-option :label="item.desc" :value="item.id" v-for="(item, index) in nodeTypeList" :key="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 名称 -->
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="名称" prop="name" required>
                            <el-input v-model="ruleForm.name" placeholder="请输入名称" :disabled="type === 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!--指定员工评定 -->
                <el-row type="flex" justify="center" v-if="ruleForm.type==3||ruleForm.type=='指定员工评定'">
                    <el-col :span="16">
                        <el-form-item label="指定员工" prop="staffs" required>
                            <el-select v-model="ruleForm.staffs" placeholder="请选择指定员工" multiple :disabled="type === 'view'">
                                <el-option :label="item.name" :value="item.id" v-for="(item, index) in staffsList" :key="index"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 指定岗位评定 -->
                <el-row type="flex" justify="center" v-if="ruleForm.type==4||ruleForm.type=='指定岗位评定'">
                    <el-col :span="16">
                        <el-form-item label="指定岗位" prop="roles" required>
                            <el-select v-model="ruleForm.roles" placeholder="请选择指定岗位" multiple :disabled="type === 'view'">
                                <el-option :label="item.name" :value="item.id" v-for="(item, index) in rolesList" :key="index"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="说明" prop="description">
                            <el-input
                                type="textarea"
                                v-model="ruleForm.description"
                                :autosize="{ minRows: 3, maxRows: 5 }"
                                placeholder="请输入考核说明"
                                :disabled="type === 'view'"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row type="flex" justify="center" v-if="type == 'new' || type == 'edit'">
                    <el-col :span="16">
                        <div class="flex flex-h-between">
                            <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
import { getNodeTypeList, getNodesDetail, addNode, editNode } from '@/api/nodes';
import { getSelectRoleList } from '@/api/role';
import { getSelectStaffsList } from '@/api/user';

export default {
    name: '',
    data() {
        return {
            ruleForm: {
                type: '',
                name: '',
                description: '',
                staffs: [],
                roles: []
            },
            // 节点类型列表
            nodeTypeList: [],
            // 员工列表
            staffsList: [],
            // 岗位列表
            rolesList: [],

            rules: {
                type: [{ required: true, message: '请选择类型', trigger: 'blur' }],
                name: [{ required: true, message: '请输入名称', trigger: 'blur' }],
                staffs: [{ required: true, message: '请选择指定员工', }],
                roles: [{ required: true, message: '请选择指定岗位',  }]
            },
            type: '',
            nodeId: '',
        };
    },
    computed: {},
    mounted() {},
    created() {
        this.type = this.$route.query.type;
        this.nodeId = this.$route.query.nodeId || '';
        
        if (this.type == 'new' || this.type == 'edit') {
            this.getNodeTypeList();
        }
        if (this.nodeId) {
            this.getNodesDetail(this.nodeId);
        }
    },
    methods: {
        onSelectChange(val) {
            if (this.staffsList.length <= 0 && val == 3) {
                this.getSelectStaffsList();
            }
            if (this.rolesList.length <= 0 && val == 4) {
                this.getSelectRoleList();
            }
        },
        async getSelectRoleList() {
            let { data } = await getSelectRoleList();
            this.rolesList = data;
        },
        async getSelectStaffsList() {
            let { data } = await getSelectStaffsList();
            this.staffsList = data.list;
        },
        async getNodeTypeList() {
            let { data } = await getNodeTypeList();
            this.nodeTypeList = data;
        },
        async getNodesDetail(nodeId) {
            let { data } = await getNodesDetail(nodeId);
            this.ruleForm = data;
            if(this.ruleForm.type==3){
                this.getSelectStaffsList();
            }
            if(this.ruleForm.type==4){
                this.getSelectRoleList();
            }
        },
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.$showLoading();
                    if(this.ruleForm==3){
                        this.ruleForm.roles=[]
                    }
                    if(this.ruleForm==4){
                        this.ruleForm.staffs=[]
                    }
                    if (this.nodeId) {
                        this.editNode(this.nodeId);
                    } else {
                        this.addNode();
                    }
                } else {
                    return false;
                }
            });
        },
        // 创建指标
        async addNode() {
            try {
                let res = await addNode(this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('创建审批节点成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        },
        // 编辑指标
        async editNode(nodeId) {
            try{
                let res = await editNode(nodeId, this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('编辑审批节点成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            }catch(err){
                this.$hideLoading();
            }
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped"></style>
