<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <div class="flex flex-h-end "><el-button type="primary" round @click="addNode">新增</el-button></div>
            <el-table ref="multipleTable" :data="nodesList" tooltip-effect="dark" style="width: 100%">
                <el-table-column prop="type" label="类型">
                    <template slot-scope="scope">
                        <el-tag effect="plain">{{ scope.row.type }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="roles" label="岗位">
                    <template slot-scope="scope">
                        <div class=" ">
                            <div class="margin-b-5 margin-t-5" v-for="(item, index) in scope.row.roles" :key="index">
                                <el-tag effect="plain" type="info">{{ item }}</el-tag>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="staffs" label="员工">
                    <template slot-scope="scope">
                        <div class=" ">
                            <div class="margin-b-5 margin-t-5" v-for="(item, index) in scope.row.staffs" :key="index">
                                <el-tag effect="plain" type="info">{{ item }}</el-tag>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="description" label="说明"></el-table-column>
                <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间" width="160"></el-table-column>
                <el-table-column fixed="right" prop="edit" label="操作" width="200">
                    <template slot-scope="scope">
                        <div class=" primary-color flex">
                          <el-button size="small" @click="view(scope.row.id)">查看</el-button>
                          <el-button type="primary" size="small" @click="edit(scope.row.id)">编辑</el-button>
                          <el-button type="danger" size="small" @click="deleteNode(scope.row.id)">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { getNodesList, deleteNode } from '@/api/nodes';

export default {
    name: '',
    data() {
        return {
            nodesList: []
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/performance/nodeList';
        }
    },
    mounted() {},
    created() {
        this.getNodesList();
    },
    methods: {
        async getNodesList() {
            const { data } = await getNodesList();
            this.nodesList = data.list;
            this.total = data.meta.pagination.total;
        },
        // 新增用户
        addNode() {
            this.$router.push({
                path: '/performance/newNode',
                query: {
                    type: 'new',
                }
            });
        },
        // 编辑
        edit(nodeId) {
            this.$router.push({
                path: '/performance/editNode',
                query: {
                    type: 'edit',
                    nodeId:nodeId
                }
            });
        },
        //查看
        view(nodeId) {
            this.$router.push({
                path: '/performance/viewNode',
                query: {
                    type: 'view',
                    nodeId:nodeId
                }
            });
        },
        // 删除节点
        deleteNode(nodeId) {
            this.$confirm('确认删除绩效指标？', '确认信息')
                .then(res => {
                    this.sureDelete(nodeId);
                })
                .catch(() => {});
        },
        // 确认删除
        async sureDelete(nodeId) {
            let res = await deleteNode(nodeId);
            if (res.status === 'success') {
                this.$message.success('删除成功！');
                this.getNodesList();
            }
        },

    },
    components: {},
    watch: {
        $route: {
            handler(newRouter) {
                console.log(111);
                this.getNodesList();
            },
        }
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
