<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <el-table ref="multipleTable" :data="reportsList" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="" label="状态">
                    <template slot-scope="scope">
                      <el-tag>{{ status[scope.row.status] }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="staff" label="员工">
                    <template slot-scope="scope">
                        <div>{{ scope.row.user.name }}</div>
                    </template>
                </el-table-column>

<!--                <el-table-column prop="node" label="节点"></el-table-column>-->
                <el-table-column prop="score" label="考核得分"></el-table-column>
                <el-table-column prop="result" label="考核评级"></el-table-column>
                <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间" width="160"></el-table-column>
                <!-- 只有审批全部走完之后才可以查看 -->
        <!--        <el-table-column fixed="right" prop="edit" label="操作" width="70" >
                    <template slot-scope="scope">
                        <div class=" primary-color flex"><el-button type="primary" size="small" @click="view">查看</el-button></div>
                    </template>
                </el-table-column> -->
            </el-table>
            <!-- 分页 -->
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { getReportsList } from '@/api/reports';
export default {
    name: '',
    data() {
        return {
            reportsList: [],
            status: {
                0: '等待确认',
                1: '员工已确认',
                2: '审批中',
                3: '审批结束'
            },
            total: -1,
            pageLimit: 10,
            pageNum: 1
        };
    },
    computed: {
        showCurrentRouter() {
            return this.$route.path == '/performance/reportList';
        }
    },
    mounted() {},
    created() {
        this.getReportsList();
    },
    methods: {
        async getReportsList() {
            let { data } = await getReportsList({
                page: this.pageNum,
                limit: this.pageLimit
            });
            this.reportsList = data.list;
            this.total = data.meta.pagination.total;
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        //
        addUser() {
            this.$router.push('/performance/newApproval');
        },
        edit() {
            // this.$router.push({
            //     path: '/userManage/user',
            //     query: {
            //         type: 'edit'
            //     }
            // });
        },
        view() {
            this.$router.push({
                path: '/performance/report',
                query: {
                    type: 'view'
                }
            });
        },
        deleteItem() {},
      handleCurrentChange(page) {
        this.pageNum=page;
        this.getReportsList();
      }
    },
    components: {}
};
</script>
<style lang="less" scoped="scoped"></style>
