<template>
    <div class="">
        <el-table ref="multipleTable" :data="report" tooltip-effect="dark" style="width: 100%" >
            <!-- <el-table-column prop="id" label="序号" width="60"></el-table-column> -->
            <el-table-column prop="name" label="维度" ></el-table-column>
            <el-table-column prop="staff" label="名称">
                <template slot-scope="scope">
                    <div>{{ scope.row.user.name }}</div>
                </template>
            </el-table-column>
            <el-table-column prop="score" label="目标值">
                <template slot-scope="scope">
                    <div>{{ status[scope.row.status] }}</div>
                </template>
            </el-table-column>
            <!-- 实际完成值 只有HR可以编辑 -->
            <el-table-column prop="node" label="实际完成值"></el-table-column>
            <el-table-column prop="result" label="权重(100%)"></el-table-column>
            <el-table-column prop="result" label="考核标准"></el-table-column>
            <el-table-column prop="result" label="考核说明"></el-table-column>
            <!-- 自评和经理评定时该节点才显示 -->
            
            
            <el-table-column prop="result" label="考核结果"></el-table-column>
            <el-table-column prop="result" label="绩效等级"></el-table-column>
  
        </el-table>
        <!-- 分页 -->
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {
            report: [],
    
        };
    },
    computed: {
    
    },
    mounted() {},
    created() {
    },
    methods: {
 

    },
    components: {}
};
</script>
<style lang="less" scoped="scoped"></style>
