<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <div class="flex flex-h-end "><el-button type="primary" round @click="addUser">新增</el-button></div>
            <el-table ref="multipleTable" :data="indicatorsList" tooltip-effect="dark" style="width: 100%">
                <el-table-column prop="dimension" label="维度" width="80">
                    <template slot-scope="scope">
                        <el-tag effect="plain">{{ scope.row.dimension }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="assessment_criteria" label="考核标准"></el-table-column>
                <el-table-column prop="remarks" label="考核说明"></el-table-column>
                <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间" width="160"></el-table-column>
                <el-table-column fixed="right" prop="edit" label="操作" width="200">
                    <template slot-scope="scope">
                        <div class=" primary-color flex">
                          <el-button size="small" @click="view(scope.row.id)">查看</el-button>
                          <el-button type="primary" size="small" @click="edit(scope.row.id)">编辑</el-button>
                          <el-button type="danger" size="small" @click="deleteTarget(scope.row.id)">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { getIndicatorsList, deleteIndicator } from '@/api/indicators';
export default {
    name: '',
    data() {
        return {
            indicatorsList: [],
            total: -1,
            pageLimit: 10,
            pageNum: 1
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/performance/targetList';
        }
    },
    mounted() {},
    created() {
        this.getIndicatorsList();
    },
    methods: {
        // 获取绩效列表
        async getIndicatorsList() {
            const { data } = await getIndicatorsList({
                page: this.pageNum,
                limit:this.pageLimit
            });
            this.indicatorsList = data.list;
            this.total = data.meta.pagination.total;
        },
        // 新增绩效指标
        addUser() {
            this.$router.push({
                path: '/performance/newTarget',
                query: {
                    type: 'new'
                }
            });
        },
        // 编辑绩效
        edit(targetId) {
            this.$router.push({
                path: '/performance/editTarget',
                query: {
                    type: 'edit',
                    targetId: targetId
                }
            });
        },
        // 查看绩效指标
        view(targetId) {
            this.$router.push({
                path: '/performance/viewTarget',
                query: {
                    type: 'view',
                    targetId: targetId
                }
            });
        },
        // 删除绩效指标
        deleteTarget(targetId) {
            this.$confirm('确认删除绩效指标？', '确认信息')
                .then(res => {
                    this.sureDelete(targetId);
                })
                .catch(() => {});
        },
        // 确认删除
        async sureDelete(targetId) {
            let res = await deleteIndicator(targetId);
            if (res.status === 'success') {
                this.$message.success('删除成功！');
                this.pageNum=1;
                this.getIndicatorsList();
            }
        },
        handleCurrentChange(page) {
            this.pageNum=page;
            this.getIndicatorsList();
        }
    },
    components: {},
    watch: {
        $route: {
            handler(newRouter) {
                this.pageNum=1;
                this.getIndicatorsList();
            },
        }
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
