<template>
    <div class="new-activity">
        <!-- 表单部分 -->
        <div class="from-wrap ">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="" label-position="right">
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="维度" prop="dimension" required>
                            <el-select v-model="ruleForm.dimension" placeholder="" :disabled="type==='view'">
                                <el-option :label="item.desc" :value="item.id" v-for="(item,index) in dimensionList" :key="index"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="名称" prop="name" required><el-input v-model="ruleForm.name" placeholder="请输入名称" :disabled="type==='view'"></el-input></el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="考核标准" prop="assessment_criteria">
                            <el-input type="textarea" v-model="ruleForm.assessment_criteria" :autosize="{ minRows: 3, maxRows: 5 }" placeholder="请输入考核标准" :disabled="type==='view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="考核说明" prop="remarks">
                            <el-input type="textarea" v-model="ruleForm.remarks" :autosize="{ minRows: 3, maxRows: 5 }" placeholder="请输入考核说明" :disabled="type==='view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center" v-if="type == 'new' || type == 'edit'">
                    <el-col :span="16">
                        <div class="flex flex-h-between">
                            <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
import { getDimensionsList,getIndicatorsDetail,addIndicator,editIndicator } from '@/api/indicators';
export default {
    name: '',
    data() {
        return {
            checked: false,
            ruleForm: {
                dimension: '',
                name: '',
                assessment_criteria: '',
                remarks: ''
            },
            rules: {
                dimension: [{ required: true, message: '请选择维度', trigger: 'blur' }],
                name: [{ required: true, message: '请输入名称', trigger: 'blur' }],
            },
            // 维度列表
            dimensionList: [],
            // 用户id
            targetId: '',
            // 当前用户类型 新增 编辑 查看
            type: '',
        };
    },
    computed: {},
    mounted() {},
    created() {
        this.type = this.$route.query.type || 'new';
        this.targetId = this.$route.query.targetId || '';

        if (this.targetId) {
            this.getIndicatorsDetail(this.targetId);
        }
        if (this.type == 'new' || this.type == 'edit') {
            this.getDimensionsList();
        }
    },
    methods: {
        //获取维度列表
        async getDimensionsList() {
            let { data } = await getDimensionsList();
            this.dimensionList = data;
        },
        // 获取绩效指标详情
        async getIndicatorsDetail(targetId) {
            let { data } = await getIndicatorsDetail(targetId);
            this.ruleForm = data;
        },
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.$showLoading();
                    if (this.targetId) {
                        this.editIndicator(this.targetId);
                    } else {
                        this.addIndicator();
                    }
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        // 创建指标
        async addIndicator(){
            try{
                let res = await addIndicator(this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('创建绩效指标成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            }catch(err){
                this.$hideLoading();
            }
        },
        // 编辑指标
        async editIndicator(targetId){
            try{
                let res = await editIndicator(targetId,this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('编辑绩效指标成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            }catch(err){
                this.$hideLoading();
            }

        },
        handleChange() {}
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped"></style>
