<template>
    <div class="new-activity">
        <!-- 表单部分 -->
        <div class="from-wrap padding-20">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="" label-position="right">
                <el-row type="flex" justify="center" v-if="type == 'edit' || type == 'view'">
                    <el-col :span="16">
                        <el-form-item label="ID" prop="id"><el-input v-model="ruleForm.id" placeholder="" disabled></el-input></el-form-item>
                    </el-col>
                </el-row>
                <!-- 名称 -->
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="名称" prop="name" required>
                            <el-input v-model="ruleForm.name" placeholder="请输入名称" :disabled="type === 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 权限 -->
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="权限" prop="permissions" required>
                            <el-tree
                                :data="ruleForm.permissions"
                                node-key="id"
                                :show-checkbox="type == 'new' || type == 'edit'"
                                :default-checked-keys="[]"
                                ref="tree"
                                highlight-current
                                @check="getCheckedNodes"
                            ></el-tree>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row type="flex" justify="center" v-if="type == 'new' || type == 'edit'">
                    <el-col :span="16">
                        <div class="flex flex-h-between">
                            <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
import { createRole, editRole, getRoleDetail } from '@/api/role';
import { permissions } from '@/utils/permissions.js';

export default {
    name: '',
    data() {
        let self = this;
        var validatePermissions = (rule, value, callback) => {
            if (self.checkedNodes.length <= 0) {
                callback(new Error('请勾选权限'));
            } else {
                callback();
            }
        };
        return {
            checked: false,
            ruleForm: {
                id: '',
                name: '',
                permissions: permissions
            },
            rules: {
                name: [{ required: true, message: '请输入名称', trigger: 'blur' }],
                permissions: [{ validator: validatePermissions, trigger: 'blur' }]
            },
            // 角色 id
            roleId: '',
            // 当前角色类型 新增 编辑 查看
            type: '',
            // 当前被选中的tree节点
            checkedNodes: []
        };
    },
    computed: {},
    mounted() {},
    created() {
        this.type = this.$route.query.type;
        this.roleId = this.$route.query.roleId || '';
        if (this.roleId) {
            console.log(111);
            this.getRoleDetail(this.roleId);
        }
    },
    methods: {
        // 获取角色详情
        async getRoleDetail(roleId) {
            let { data } = await getRoleDetail(roleId);
            this.ruleForm = {
                id: data.id,
                name: data.name,
                permissions: data.menus
            };
        },
        // 获取勾选中的node节点
        getCheckedNodes(nodeObj, SelectedObj) {
            this.checkedNodes = SelectedObj.checkedNodes;
        },
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.$showLoading();
                    let data = JSON.parse(JSON.stringify(this.ruleForm));
                    data.permissions = this.checkedNodes.filter(item => {
                        return item.children && item.children.length > 0;
                    });
                    if (this.roleId) {
                        this.editRole(this.roleId, data);
                    } else {
                        this.createRole(data);
                    }
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
            this.ruleForm.id = this.roleId;
        },
        // 创建角色
        async createRole(data) {
            try {
                let res = await createRole(data);
                if (res.status === 'success') {
                    this.$message.success('创建角色成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        },
        // 编辑角色
        async editRole(roleId, data) {
            try {
                let res = await editRole(roleId, data);
                if (res.status === 'success') {
                    this.$message.success('编辑角色成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped"></style>
