<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <div class="flex flex-h-end "><el-button type="primary" round @click="addRole">新增</el-button></div>
            <el-table ref="multipleTable" :data="rolesList" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column prop="id" label="ID"></el-table-column>
                <el-table-column prop="name" label="名称"></el-table-column>
<!--                <el-table-column prop="permissions" label="权限">-->
<!--                    <template slot-scope="scope">-->
<!--                        &lt;!&ndash;          <div class=" ">-->
<!--                            <div class="" v-for="(item, index) in scope.row.menus" :key="index">-->
<!--                                <el-tag>{{ item }}</el-tag>-->
<!--                            </div>-->
<!--                        </div> &ndash;&gt;-->
<!--                        -->
<!--                        <el-tree-->
<!--                            v-if="scope.row.menus.length>0"-->
<!--                            :data="scope.row.menus"-->
<!--                            node-key="id"-->
<!--                            :show-checkbox="false"-->
<!--                            :default-checked-keys="[1, 2, 3, 4, 5]"-->
<!--                            ref="tree"-->
<!--                            highlight-current-->
<!--                        ></el-tree>-->
<!--                    </template>-->
<!--                </el-table-column>-->
                <el-table-column prop="created_at" label="创建时间"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间"></el-table-column>
                <el-table-column prop="edit" label="操作">
                    <template slot-scope="scope">
                        <div class=" primary-color flex">
                            <el-button size="small" @click="view(scope.row.id)">查看</el-button>
                            <el-button type="primary" size="small" @click="edit(scope.row.id)">编辑</el-button>
                            <el-button type="danger" size="small" @click="deleteRole(scope.row.id)">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { getRolesList, deleteRole } from '@/api/role';
import { permissions } from '@/utils/permissions.js';
export default {
    name: '',
    data() {
        return {
            rolesList: [],
            total: -1,
            pageLimit: 10,
            pageNum: 1,
            multipleSelection: []
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/userManage/roleList';
        },
        noData() {
            return this.rolesList.length <= 0 && this.total == 0;
        }
    },
    mounted() {},
    created() {
        this.getRolesList();
    },
    methods: {
        async getRolesList() {
            const { data } = await getRolesList({
                page: this.pageNum,
                limit: this.pageLimit
            });
            this.rolesList = data.list;

            this.total = data.meta.pagination.total;
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        // 新增角色
        addRole() {
            this.$router.push({
                path: '/userManage/newRole',
                query: {
                    type: 'new'
                }
            });
        },
        // 编辑角色
        edit(roleId) {
            this.$router.push({
                path: '/userManage/editRole',
                query: {
                    type: 'edit',
                    roleId: roleId
                }
            });
        },
        view(roleId) {
            this.$router.push({
                path: '/userManage/viewRole',
                query: {
                    type: 'view',
                    roleId: roleId
                }
            });
        },
        // 删除角色
        deleteRole(roleId) {
            this.$confirm('确认删除角色？', '确认信息')
                .then(res => {
                    console.log(res);
                    this.sureDelete(roleId);
                })
                .catch(() => {});
        },
        // 确认删除
        async sureDelete(roleId) {
            let res = await deleteRole(roleId);
            if (res.status === 'success') {
                this.$message.success('删除成功！');
                this.pageNum = 1;
                this.getRolesList();
            }
        },
        handleCurrentChange(page) {
            this.pageNum = page;
            this.getRolesList();
        }
    },
    components: {},
    watch: {
        $route: {
            handler(newRouter) {
                this.pageNum = 1;
                this.getRolesList();
            }
        }
    }
};
</script>
<style lang="less" scoped="scoped"></style>
