<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <div>
                <div class="flex flex-h-end "><el-button type="primary" round @click="addUser">新增</el-button></div>
                <el-table ref="multipleTable" :data="userList" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                    <!-- <el-table-column type="selection" width="55"></el-table-column> -->
                    <el-table-column prop="name" label="账号"></el-table-column>
                    <el-table-column prop="nickname" label="名称"></el-table-column>
                    <el-table-column prop="email" label="邮箱" width="240"></el-table-column>
                    <el-table-column prop="phone" label="手机号"></el-table-column>
                    <el-table-column prop="roles" label="角色">
                        <template slot-scope="scope">
                            <div class=" ">
                                <div class="margin-b-5 margin-t-5" v-for="(item, index) in scope.row.roles.list" :key="index">
                                    <el-tag effect="plain" type="info">{{ item.name }}</el-tag>
                                </div>
                            </div>
                        </template>
                    </el-table-column>
                  <el-table-column prop="status" label="状态">
                    <template slot-scope="scope">
                      <el-tag :type="(scope.row.status < 0) ? 'danger' :'success' ">{{ status[scope.row.status] }}</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                    <el-table-column prop="edit" label="操作" width="140">
                        <template slot-scope="scope">
                            <div class=" primary-color flex">
                                <el-button size="small" @click="view(scope.row.id)">查看</el-button>
                                <el-button type="primary" size="small" @click="edit(scope.row.id)">编辑</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
            </div>
            <div v-if="noData">暂无数据</div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { getUserList } from '@/api/user';
export default {
    name: '',
    data() {
        return {
            userList: [],
            total: -1,
            pageLimit: 10,
            pageNum: 1,
            multipleSelection: [],
          status: {
            0: '在职',
            '-1': '离职',
          },
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/userManage/userList';
        },
        noData() {
            return this.userList.length <= 0 && this.total == 0;
        }
    },
    mounted() {},
    created() {
        this.getUserList();
    },
    methods: {
        // 获取用户列表
        async getUserList(page) {
            const { data } = await getUserList({
                page: this.pageNum,
                limit: this.pageLimit
            });
            this.userList = data.list;
            this.total = data.meta.pagination.total;
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        // 新增用户
        addUser() {
            this.$router.push({
                path: '/userManage/newUser',
                query: {
                    type: 'new'
                }
            });
        },
        // 编辑用户
        edit(userId) {
            this.$router.push({
                path: '/userManage/editUser',
                query: {
                    type: 'edit',
                    userId: userId
                }
            });
        },
        // 查看用户
        view(userId) {
            this.$router.push({
                path: '/userManage/viewUser',
                query: {
                    type: 'view',
                    userId: userId
                }
            });
        },
        handleCurrentChange(page) {
            this.pageNum=page;
            this.getUserList();
        }
    },
    components: {},
    watch: {
        $route: {
            handler(newRouter) {
                this.pageNum=1;
                this.getUserList();
            }
            // immediate: true
        }
    }
};
</script>
<style lang="less" scoped="scoped"></style>
