<template>
    <div class="" :class="{ 'page-wrap': type === 'person' }">
        <!-- 表单部分 -->
        <div class="from-wrap ">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="" label-position="right">
                <el-row type="flex" justify="center" v-if="type !== 'new' && ruleForm.id">
                    <el-col :span="16">
                        <el-form-item label="ID" prop="id"><el-input v-model="ruleForm.id" placeholder="" disabled></el-input></el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="用户名" prop="name" required>
                            <el-input v-model="ruleForm.name" placeholder="请输入用户名" :disabled="type == 'view' || type == 'person'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="名称" prop="nickname" required>
                            <el-input v-model="ruleForm.nickname" placeholder="请输入名称" :disabled="type == 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="电话" prop="phone" required>
                            <el-input v-model="ruleForm.phone" placeholder="请输入电话" :disabled="type == 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="邮箱" prop="email" required>
                            <el-input v-model="ruleForm.email" placeholder="请输入邮箱" :disabled="type == 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center" v-if="type == 'new' || type == 'person'">
                    <el-col :span="16">
                        <el-form-item label="密码" prop="password" required><el-input v-model="ruleForm.password" placeholder="请输入密码" show-password></el-input></el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center" v-if="type == 'new' || type == 'person'">
                    <el-col :span="16">
                        <el-form-item label="确认密码" prop="checkPass" required>
                            <el-input v-model="ruleForm.checkPass" placeholder="请输入确认密码" show-password></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
              <el-row type="flex" justify="center">
                <el-col :span="16">
                  <el-form-item label="状态" prop="status" required>
                    <el-select v-model="ruleForm.status" placeholder="请选择状态" :disabled="type === 'view'">
                      <el-option :label="item.label" :value="item.value" v-for="(item, index) in statuses" :key="item.value"></el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="角色" prop="roles" required>
                            <el-select v-model="ruleForm.roles" placeholder="请选择用户角色" multiple :disabled="type == 'view' || type == 'person'">
                                <el-option :label="item.name" :value="item.name" v-for="(item, index) in roles" :key="index"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center" v-if="type !== 'view'">
                    <el-col :span="16">
                        <div class="flex flex-h-between">
                            <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
import UploadImage from '@/components/UploadImage/index.vue';
import { newUser, editUser, getUserDetail } from '@/api/user';
import { getSelectRoleList } from '@/api/role';
import { mapGetters } from 'vuex';
export default {
    name: 'newActivity',
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入密码'));
            } else if (value.length < 8) {
                callback(new Error('请输入至少8位数密码'));
            } else {
                if (this.ruleForm.checkPass !== '') {
                    this.$refs.ruleForm.validateField('checkPass');
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请再次输入密码'));
            } else if (value !== this.ruleForm.password) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };
        return {
            checked: false,
            ruleForm: {
                id: '',
                name: '',
                nickname: '',
                // avatar: '',
                phone: '',
                email: '',
                password: '',
                checkPass: '',
                roles: [],
                status: ''
            },
            roles: [],
            rules: {
                status: [{ required: true, message: '请选择状态', trigger: 'blur' }],
                name: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
                nickname: [{ required: true, message: '请输入名称', trigger: 'blur' }],
                phone: [{ required: true, message: '请输入电话', trigger: 'blur' }],
                email: [{ required: true, message: '请输入邮箱', trigger: 'blur' }],
                password: [{ validator: validatePass, trigger: 'change' }],
                checkPass: [{ validator: validatePass2, trigger: 'change' }]
            },
            // 用户id
            userId: '',
            // 当前用户类型 新增 编辑 查看
            type: '',
            statuses:[
              {
                value: 0,
                label: '在职'
              },
              {
                value: -1,
                label: '离职'
              },
            ]
        };
    },
    computed: {
        ...mapGetters(['userid'])
    },
    mounted() {},
    created() {
        this.type = this.$route.query.type || 'person';
        this.userId = this.$route.query.userId || this.userid;
        if (this.userId && this.type !== 'new') {
            this.getUserDetail(this.userId);
        }
        if (this.type == 'new' || this.type == 'edit') {
            this.getRoleList();
        }
    },
    methods: {
        // 获取角色选项列表
        async getRoleList() {
            let { data } = await getSelectRoleList();
            this.roles = data;
        },
        // 获取用户详情
        async getUserDetail(userId) {
            let { data } = await getUserDetail(userId);
            data.password=''
            data.checkPass=''
            this.ruleForm = data;
            let roles = [];
            data.roles.list.forEach(item => {
                roles.push(item.name);
            });
            this.ruleForm.roles = roles;
        },
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.$showLoading();
                    if (this.type == 'new') {
                        this.newUser();
                    } else {
                        if (this.userId) {
                            this.editUser(this.userId);
                        }
                    }
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        resetForm(formName) {
            let { id, name, roles } = this.ruleForm;
            this.$refs[formName].resetFields();
            this.ruleForm.id = this.userid;
            if (this.type === 'person') {
                this.ruleForm.name = name;
                this.ruleForm.roles = roles;
            }
        },
        // 新增用户
        async newUser() {
            try {
                let res = await newUser(this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('创建用户成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        },
        // 编辑用户
        async editUser(userId) {
            try {
                let res = await editUser(userId, this.ruleForm);
                if (res.status === 'success') {
                    this.$message.success('编辑用户成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        }
    },
    components: {
        UploadImage
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
