@import './element-variables.scss';
$imageWidth: 240px;

.boldTitle {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.main-bg {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
// 定义项目缩小比例
.flex-shrink-0 {
    flex-shrink: 0;
}
.flex-shrink-1 {
    flex-shrink: 1;
}
.flex-shrink-10 {
    flex-shrink: 10;
}
//定义项目放大比例 0
.flex-grow-0 {
    flex-grow: 0;
}
.flex-grow-9 {
    flex-grow: 9;
}

.flex-h-start {
    justify-content: flex-start;
}
.flex-h-end {
    justify-content: flex-end;
}
.flex-h-center {
    justify-content: center;
}
.flex-h-between {
    justify-content: space-between;
}
.flex-h-around {
    justify-content: space-around;
}

.flex-v-start {
    align-items: flex-start;
}
.flex-v-end {
    align-items: flex-end;
}
.flex-v-center {
    align-items: center;
}
.self-center {
    align-self: center;
}
.margin-t-5 {
    margin-top: 5px;
}
.margin-t-10 {
    margin-top: 10px;
}
.margin-t-20 {
    margin-top: 20px;
}
.margin-t-30 {
    margin-top: 30px;
}

.margin-r-10 {
    margin-right: 10px;
}
.margin-r-20 {
    margin-right: 20px;
}
.margin-r-30 {
    margin-right: 30px;
}

.margin-b-5 {
    margin-bottom: 5px;
}
.margin-b-10 {
    margin-bottom: 10px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.margin-b-30 {
    margin-bottom: 30px;
}

.margin-l-10 {
    margin-left: 10px;
}
.margin-l-20 {
    margin-left: 20px;
}
.margin-l-30 {
    margin-left: 30px;
}

.margin-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-20 {
    margin: 20px;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}

.padding-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.line-height-20 {
    line-height: 20px;
}
.line-height-30 {
    line-height: 30px;
}
.line-height-40 {
    line-height: 40px;
}

.smallTitle {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.border-1 {
    border: 1px solid #dfe4ed;
}
.border-1-top {
    border-top: 1px solid #dfe4ed;
}
.border-1-bottom {
    border-bottom: 1px solid #dfe4ed;
}
.radius-5 {
    border-radius: 5px;
}
.el-image {
    width: $imageWidth;
    height: $imageWidth;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #f6f8fc;
    border-radius: 5px;
}

.primary-color {
    color: $--color-primary;
}
.danger-color {
    color: $--color-danger;
}

.head-info {
    background: #edf5ff;
    padding: 20px 0;
    .item {
        div {
            line-height: 30px;
            text-align: center;
        }
    }
}
// 分页样式
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.page-wrap {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    padding: 30px;
}
