<template>
    <div class="dashboard-container">
        <div class="main">
            <img src="../../assets/index/welcome.png" alt="" />
            <div class="primary-color  title">欢迎使用住桐OA管理后台</div>
        </div>

        <!-- <component :is="currentRole" /> -->
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Dashboard',
    data() {
        return {};
    },
    computed: {},
    created() {}
};
</script>

<style lang="scss" scoped>
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    img {
        width: 60%;
    }
    .title {
        font-size: 36px;
        margin-top: 30px;
        // font-style: italic;
    }
}
</style>
