<template>
    <div class="new-activity">
        <!-- 表单部分 -->
        <div class="from-wrap ">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="" label-position="right">
                <!-- 名称 -->
                <el-row type="flex" justify="center">
                    <el-col :span="20">
                        <el-form-item label="标题" prop="title" required>
                            <el-input v-model="ruleForm.title" placeholder="请输入标题" :disabled="type == 'view'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <!-- 岗位 -->
                <el-row type="flex" justify="center">
                    <el-col :span="20">
                        <el-form-item label="岗位" prop="roles" required>
                            <el-select v-model="ruleForm.roles" multiple placeholder="请选择岗位" :disabled="type == 'view'">
                                <el-option v-for="item in selectRoleList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 富文本编辑 -->
                <div class="components-container">
                    <div><tinymce v-model="content" :height="300" /></div>
                    <div class="editor-content" v-html="content" />
                </div>

                <el-row type="flex" justify="center" v-if="type == 'new' || type == 'edit'">
                    <el-col :span="20">
                        <div class="flex flex-h-between">
                            <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
import { getSelectRoleList } from '@/api/role';
import { getNodeAll } from '@/api/nodes';
import Tinymce from './Tinymce';
export default {
    name: '',
    data() {
        return {
            ruleForm: {
                title: '',
                roles: []
            },
            rules: {
                title: [{ required: true, message: '请输入名称', trigger: 'blur' }]
            },
            // 岗位列表
            selectRoleList: [],
            // 当前用户类型 新增 编辑 查看
            type: '',
            content:''
        };
    },
    computed: {},
    mounted() {},
    async created() {
        this.type = this.$route.query.type || 'new';
        this.getList();
    },
    methods: {
        async getList() {
            let res1 = await getSelectRoleList();
            this.selectRoleList = res1.data;
        },
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    console.log(this.ruleForm);
                    this.$showLoading();
                    if (this.type == 'edit') {
                    } else {
                    }
                } else {
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    },
    components: {Tinymce}
};
</script>
<style lang="scss" scoped="scoped"></style>
