<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <div class="flex flex-h-end "><el-button type="primary" round @click="addCourse">新增</el-button></div>
            <el-table ref="multipleTable" :data="courseList" tooltip-effect="dark" style="width: 100%">
                <el-table-column prop="name" label="标题" width="80"></el-table-column>
                <el-table-column prop="" label="岗位">
                    <template slot-scope="scope">
                        <div class=" ">
                            <div class="margin-b-5 margin-t-5" v-for="(item, index) in scope.row.roles" :key="index">
                                <el-tag effect="plain" type="info">{{ item }}</el-tag>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="status" label="状态">
                    <template slot-scope="scope">
                        <el-tag>{{ status[scope.row.status] }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="created_person" label="创建人"></el-table-column>
                <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间" width="160"></el-table-column>
                <el-table-column fixed="right" prop="edit" label="操作" width="200">
                    <template slot-scope="scope">
                        <div class=" primary-color flex">
                            <el-button size="small" @click="view(scope.row.id)">查看</el-button>
                            <el-button type="primary" size="small" @click="edit(scope.row.id)">编辑</el-button>
                            <el-button type="primary" size="small" @click="publish(scope.row.id)">发布</el-button>
                            <el-button type="danger" size="small" @click="deleteItem(scope.row.id)">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {
            courseList: [],
            total: -1,
            pageLimit: 10,
            pageNum: 1
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/trainingManage/courseList';
        }
    },
    mounted() {},
    created() {},
    methods: {
        addCourse() {
            this.$router.push({
                path: '/trainingManage/newCourse',
                query: {
                    type: 'new'
                }
            });
        },
        view() {},
        edit() {},
        publish(){
            
        },
        deleteItem(targetId) {
            this.$confirm('确认删除？', '确认信息')
                .then(res => {
                    this.sureDelete(targetId);
                })
                .catch(() => {});
        },
        sureDelete() {},
        handleCurrentChange(page) {
            this.pageNum = page;
        }
    },
    components: {},
    watch: {
        $route: {
            handler(newRouter) {
                this.pageNum = 1;
            }
        }
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
