<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <div class="flex">
                <!--  -->
                <el-button size="small" @click="back" class="margin-r-10">返回</el-button>
                <!-- 上传 -->
                <el-upload class="upload-demo" ref="upload" action="" :file-list="fileList" :on-change="change" :show-file-list="false" :auto-upload="false" accept="">
                    <el-button slot="trigger" size="small" type="primary">上传文件</el-button>
                </el-upload>
                <el-button slot="trigger" size="small" type="primary" class="margin-l-10" @click="createFoldList">新建文件夹</el-button>
            </div>
            <!-- 文件列表 -->

            <el-table ref="multipleTable" :data="materialList" tooltip-effect="dark" style="width: 100%">
                <!-- <el-table-column type="selection" width="55"></el-table-column> -->
                <el-table-column prop="name" label="名称">
                    <template slot-scope="scope">
                        <div v-if="scope.row.type === 'directory'" class=" primary-color flex flex-v-center" @click="getUnfoldList(scope.row)">
                            <i class="el-icon-folder-opened"></i>
                            <span class="margin-l-10">{{ scope.row.name }}</span>
                        </div>
                        <div v-else class="flex flex-v-center">
                            <div style="width: 100px;height: 50px;" class="flex-center margin-r-10">
                                <img :src="scope.row.url" alt="" style="width: 100%;">
                            </div>
                            <span>{{ scope.row.name }}</span>
                        </div>
                    </template>
                </el-table-column>

                <el-table-column prop="edit" label="操作" width="140">
                    <template slot-scope="scope">
                        <div class="primary-color flex flex-h-end">
                            <!-- <el-button type="primary" size="small" v-if="scope.row.type === 'directory'" @click="editDirectory">编辑</el-button> -->
                            <el-button type="danger" size="small" @click="deleteItem(scope.row)">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>
        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { uploadFiles, getFilesList, createDirectories, deleteDirectory,deleteFile } from '@/api/file';
import Back from '@/components/Back/index.vue';
export default {
    name: 'material',
    data() {
        return {
            fileList: [],
            materialList: [],
            total: -1,
            pageLimit: 10,
            pageNum: 1,
            directory: '',
            currentUploadDirectory: ''
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/trainingManage/material';
        }
    },
    mounted() {},
    created() {
        this.directory = this.$route.query.directory;
        this.getFilesList();
    },
    methods: {
        back() {
            this.$router.go(-1);
        },
        async getFilesList() {
            let params = {
                page: this.pageNum,
                limit: this.pageLimit
            };
            if (this.directory) {
                params.directory = this.directory;
            }
            let { data } = await getFilesList(params);
            this.materialList = data.list;
            this.total = data.meta.pagination.total;
        },
        async change(file) {
            let formdata = new FormData();
            formdata.set('file', file.raw); //传文件
            if (this.directory) {
                formdata.set('directory', this.directory); //
            }
            const { status } = await uploadFiles(formdata);
            if (status === 'success') {
                this.$message.success('上传成功！');
                this.getFilesList();
            }
        },
        // 分页
        handleCurrentChange(page) {
            console.log(page);
            this.pageNum = page;
            this.getFilesList();
        },
        // 展开文件夹
        getUnfoldList(data) {
            this.$router.push({
                path: '/trainingManage/material',
                query: {
                    directory: data.name
                }
            });
        },
        // 新建文件夹
        createFoldList() {
            this.$prompt('请输入目录名称', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            })
                .then(({ value }) => {
                    this.createDirectory(value);
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
        },
        // 新建文件夹
        async createDirectory(value) {
            let { status } = await createDirectory({
                directory: this.directory ? this.directory + '/' + value : value
            });
            if (status === 'success') {
                this.$message.success('新建文件夹成功！');
                this.getFilesList();
            }
        },
        // 删除文件或者文件夹
        deleteItem(data) {
            let confirmInfo=data.type==='directory'?'确认删除该文件夹':'确认删除该文件'
            this.$confirm(confirmInfo, '确认信息')
                .then(res => {
                    if(data.type==='directory'){
                        this.deleteDirectory(data);
                    }else{
                        this.deleteFile(data)
                    }
                })
                .catch(() => {});
        },
        async deleteDirectory(data) {
            const { status } = await deleteDirectory({
                directory:data.name
            });

            if (status === 'success') {
                this.$message.success('删除成功！');
                this.getFilesList();
            }
        },
        async deleteFile(data) {
            const { status } = await deleteFile({
                path:data.name
            });
            if (status === 'success') {
                this.$message.success('删除成功！');
                this.getFilesList();
            }
        }
    },
    components: { Back },
    watch: {
        $route(val) {
            this.directory = val.query.directory;
            this.getFilesList();
        }
    }
};
</script>
<style lang="less" scoped="scoped"></style>
