<template>
    <div class="">
        <div>
            
        </div>
    </div>
</template>
<script>
export default {
    name: 'newActivity',
    data() {

        return {
           
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
 
    },
    components: {
        
    }
};
</script>
<style lang="scss" scoped="scoped">
    
</style>
