<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <!-- <div class="flex flex-h-end "><el-button type="primary" round @click="addUser">新增</el-button></div> -->
            <el-table ref="multipleTable" :data="performanceList" tooltip-effect="dark" style="width: 100%">
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="staff" label="员工">
                    <template slot-scope="scope">
                        <div>{{ scope.row.user.name }}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="score" label="考核得分"></el-table-column>
                <el-table-column prop="result" label="考核评级"></el-table-column>
                <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间" width="160"></el-table-column>
                <!--                <el-table-column fixed="right" prop="edit" label="操作" width="200">-->
                <!--                    <template slot-scope="scope">-->
                <!--                        <div class=" primary-color flex"><el-button type="primary" size="small" @click="view">查看</el-button></div>-->
                <!--                    </template>-->
                <!--                </el-table-column>-->
            </el-table>
            <!-- 分页 -->
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { getMyPerformance } from '@/api/person';
export default {
    name: '',
    data() {
        return {
            performanceList: [],
            userList: [],
            total: -1,
            pageLimit: 10,
            pageNum: 1
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/personCenter/myPerformance';
        }
    },
    mounted() {},
    created() {
        this.getMyPerformance();
    },
    methods: {
        async getMyPerformance() {
            const { data } = await getMyPerformance({
                page: this.pageNum,
                limit: this.pageLimit
            });
            this.performanceList = data.list;
            this.total = data.meta.pagination.total;
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        view() {
            this.$router.push({
                path: '/myPerformance/view',
                query: {
                    type: 'view'
                }
            });
        },
        sure() {},
        handleCurrentChange() {}
    },
    components: {}
};
</script>
<style lang="less" scoped="scoped"></style>
