<template>
    <div class="new-activity">
        <!-- 表单部分 -->
        <div class="from-wrap ">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="" label-position="right">
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="用户名" prop="username" ><el-input v-model="ruleForm.username" placeholder="" disabled></el-input></el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="名称" prop="nickname" required><el-input v-model="ruleForm.nickname" placeholder="请输入名称"></el-input></el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="密码" prop="pass" required><el-input v-model="ruleForm.pass" placeholder="请输入密码" show-password></el-input></el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <el-form-item label="确认密码" prop="checkPass" required>
                            <el-input v-model="ruleForm.checkPass" placeholder="请输入确认密码" show-password></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <el-col :span="16">
                        <div class="flex flex-h-between">
                            <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
// import UploadImage from '@/components/UploadImage/index.vue';
import { mapGetters } from 'vuex';
export default {
    name: 'newActivity',
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入密码'));
            } else {
                if (this.ruleForm.checkPass !== '') {
                    this.$refs.ruleForm.validateField('checkPass');
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请再次输入密码'));
            } else if (value !== this.ruleForm.pass) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };
        return {
            checked: false,
            ruleForm: {
                username: '',
                nickname: '',
                pass: '',
                checkPass: ''
            },
            rules: {
                nickname: [{ required: true, message: '请输入名称', trigger: 'blur' }],
                pass: [{ validator: validatePass, trigger: 'blur' }],
                checkPass: [{ validator: validatePass2, trigger: 'blur' }]
            }
        };
    },
    computed: {
        ...mapGetters(['name','nickname'])
    },
    mounted() {},
    created() {
        this.ruleForm.username=this.name
        this.ruleForm.nickname=this.nickname
    },
    methods: {
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    alert('submit!');
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    },
    components: {
        
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
