<template>
    <div class="page-wrap">
        <div v-if="showCurrentRouter">
            <el-table ref="multipleTable" :data="todoList" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <!-- <el-table-column prop="id" label="ID" width="60"></el-table-column> -->
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="staff" label="员工">
                    <template slot-scope="scope">
                        {{ scope.row.user.name }}
                    </template>
                </el-table-column>
                <el-table-column prop="status" label="状态">
                    <template slot-scope="scope">
                      <el-tag>{{ status[scope.row.status] }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="score" label="考核得分"></el-table-column>
                <el-table-column prop="result" label="考核评级"></el-table-column>
                <el-table-column prop="created_at" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updated_at" label="更新时间" width="160"></el-table-column>
                <el-table-column fixed="right" prop="edit" label="操作" width="150">
                    <template slot-scope="scope">
                        <div class=" primary-color flex">
                            <!-- 确认、录入数据、评分 -->
                            <el-button size="small" @click="view(scope.row._id, 'view')">查看</el-button>
                            <el-button type="primary" size="small" @click="confirmReports(scope.row._id)" v-if="scope.row.approvers.includes(userid) && scope.row.status === 0">
                                确认
                            </el-button>
                            <el-button type="primary" size="small" @click="view(scope.row._id, 'entry')" v-if="scope.row.approvers.includes(userid) && scope.row.status === 1">
                                录入数据
                            </el-button>
                            <el-button
                                type="primary"
                                size="small"
                                @click="view(scope.row._id, 'score', scope.row)"
                                v-if="scope.row.approvers.includes(userid) && scope.row.status === 2"
                            >
                                评分
                            </el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="pageLimit" :total="total" @current-change="handleCurrentChange"></el-pagination></div>
        </div>

        <div class=""><router-view /></div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import { getMyTodo } from '@/api/person';
import { confirmReports } from '@/api/reports';
export default {
    name: '',
    data() {
        return {
            todoList: [],
            status: {
                0: '等待确认',
                1: '员工已确认',
                2: '审批中',
                3: '审批结束'
            },
            total: -1,
            pageLimit: 10,
            pageNum: 1
        };
    },
    computed: {
        ...mapGetters(['userid']),
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/personCenter/myTodo';
        }
    },
    mounted() {},
    created() {
        this.getMyTodo();
    },
    methods: {
        async getMyTodo() {
            const { data } = await getMyTodo({
                page: this.pageNum,
                limit: this.pageLimit
            });
            this.todoList = data.list;
        },
        // 确认
        async confirmReports(id) {
            this.$showLoading();
            try {
                let res = await confirmReports(id);
                if (res.status === 'success') {
                    this.$message.success('确认成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.getMyTodo();
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        },

        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        //查看和录入 评分
        view(id, type, data) {
            console.log(type)
            // node  根据node.id来判断是自评还是经理评
            this.$router.push({
                path: `/personCenter/${type}`,
                query: {
                    id: id,
                    type: data && data.node && data.node.id === 3 ? 'managerScore' : type
                }
            });
        },

        handleCurrentChange() {
            
        }
    },
    components: {}
};
</script>
<style lang="less" scoped="scoped"></style>
