<template>
    <div class="myPerforance-wrap">
        <Back></Back>
        <div class="myPerforance-container">
            <el-table ref="multipleTable" :data="reportDetail.indicators" tooltip-effect="dark" style="width: 100%" height="600px">
                <el-table-column prop="dimension" label="维度" fixed>
                    <template slot-scope="scope">
                        <el-tag>{{ dimensions[scope.row.dimension] }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="名称" fixed></el-table-column>
                <el-table-column prop="weight" label="权重" fixed>
                  <template slot-scope="scope">
                    {{ scope.row.weight + '%' }}
                  </template>
                </el-table-column>
                <el-table-column prop="weight" label="标准分" fixed>
                  <template slot-scope="scope">
                    {{ scope.row.weight}}
                  </template>
                </el-table-column>
                <el-table-column prop="target_value" label="目标值" fixed>
                  <template slot-scope="scope">
                    <el-input
                        style="width: 120px;"
                        type="number"
                        v-model="scope.row.target_value"
                        v-if="reportDetail.status == 1 && reportDetail.approvers.includes(userid)"
                    ></el-input>
                    <div v-else>{{ scope.row.target_value }}</div>
                  </template>
                </el-table-column>
                <el-table-column prop="result_value" label="实际完成值" fixed>
                    <template slot-scope="scope">
                        <el-input
                            style="width: 120px;"
                            type="number"
                            v-model="scope.row.result_value"
                            v-if="reportDetail.status == 1 && reportDetail.approvers.includes(userid)"
                        ></el-input>
                        <div v-else>{{ scope.row.result_value }}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="assessment_criteria" label="考核标准"></el-table-column>
                <el-table-column prop="remarks" label="考核说明"></el-table-column>
                <!-- 自评  -->
                <el-table-column label="自评" v-if="type === 'score' || type === 'managerScore'">
                    <el-table-column label="评分" width="176">
                        <template slot-scope="scope">
                            <el-input style="width: 120px;" type="number" v-model="scope.row.scores[0].score" :disabled="reportDetail.node.id !== 1"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="说明" width="200">
                        <template slot-scope="scope">
                            <el-input
                                type="textarea"
                                :autosize="{ minRows: 1, maxRows: 3 }"
                                v-model="scope.row.scores[0].description"
                                :disabled="reportDetail.node.id !== 1"
                            ></el-input>
                        </template>
                    </el-table-column>
                </el-table-column>
                <!-- 经理评定 -->
                <el-table-column label="经理评定" v-if="reportDetail.node && reportDetail.node.id === 3 && type === 'managerScore'">
                    <el-table-column label="评分" width="176">
                        <template slot-scope="scope">
                            <el-input style="width: 120px;" type="number" v-model="scope.row.scores[1].score"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="说明" width="200">
                        <template slot-scope="scope">
                            <el-input type="textarea" :autosize="{ minRows: 1, maxRows: 3 }" v-model="scope.row.scores[1].description"></el-input>
                        </template>
                    </el-table-column>
                </el-table-column>
            </el-table>

            <el-row type="flex" justify="center" v-if="(reportDetail.status == 1 || reportDetail.status == 2)&&type!=='view'">
                <el-col :span="24">
                    <div class="flex flex-h-between padding-20">
                        <!-- <el-button type="warning" @click="resetForm('ruleForm')">重置</el-button> -->
                        <el-button type="primary" @click="submitForm">提交</el-button>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import { getReportDetail, inputData, selfEvaluate } from '@/api/reports';
import Back from '@/components/Back/index.vue';
export default {
    name: '',
    data() {
        return {
            total: -1,
            pageLimit: 10,
            pageNum: 1,
            type: '',
            reportId: '',
            reportDetail: {},
            dimensions:{// todo
              1 : '价值观',
              2 : '过程数据',
              3 : '加分项',
              4 : '总结',
            }
        };
    },
    computed: {
        ...mapGetters(['userid'])
    },
    mounted() {},
    created() {
        this.type = this.$route.query.type;
        this.reportId = this.$route.query.id || '';
        if (this.reportId) {
            this.getReportDetail(this.reportId);
        }
    },
    methods: {
        getMaxiLimit(data) {
            if (data.upper_limit && data.weight * 100) {
                return data.weight * 100 > Number(data.upper_limit) ? Number(data.upper_limit) : data.weight * 100 || 0;
            }
            if (data.upper_limit) {
                return Number(data.upper_limit);
            }
            if (data.weight) {
                return data.weight * 100;
            }
            return 0;
        },
        async getReportDetail(id) {
            let { data } = await getReportDetail(id);
            this.reportDetail = data;
            console.log(this.reportDetail.node.id);
            console.log(this.reportDetail);
        },
        submitForm() {
            let pass = false;
            if (this.type === 'entry') {
                // pass = this.reportDetail.indicators.every(item => {
                //     return item.result_value !== undefined;
                // });
                // if (!pass) {
                //     this.$message.error('请确认是否已全部输入实际完成值');
                //     return;
                // }
                this.inputData();
            } else {
                // todo 待完善
                // if (this.reportDetail.node.id === 1) {
                //     pass = this.reportDetail.indicators.every(item => {
                //         if (!item.upper_limit) {
                //             return item.scores[0].description && item.scores[0].score > 0;
                //         }
                //
                //         return true;
                //     });
                // } else if (this.reportDetail.node.id === 3) {
                //     pass = this.reportDetail.indicators.every(item => {
                //         if (!item.upper_limit) {
                //             return item.scores[1].description && item.scores[1].score > 0;
                //         }
                //
                //         return true;
                //     });
                // }
                //
                // if (!pass) {
                //     if (this.reportDetail.node.id === 1) {
                //         this.$message.error('请确认是否已完成自评评分和说明');
                //     } else {
                //         this.$message.error('请确认是否已完成经理评分和说明');
                //     }
                //     return;
                // }
                let tempArr = [];
                this.reportDetail.indicators.forEach((item, index) => {
                    let data = {};
                    data.id = item.id;

                    if (this.reportDetail.node.id === 1) {
                        data.scores = [item.scores[0]];
                    } else if (this.reportDetail.node.id === 3) {
                        data.scores = [item.scores[1]];
                    }

                    tempArr.push(data);
                });
                this.selfEvaluate(tempArr);
            }
            this.$showLoading();
        },
        //录入
        async inputData() {
            try {
                let res = await inputData(this.reportId, {
                    indicators: this.reportDetail.indicators
                });
                if (res.status === 'success') {
                    this.$message.success('录入数据成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        },
        // 自评
        async selfEvaluate(indicators) {
            try {
                let res = await selfEvaluate(this.reportId, {
                    indicators: indicators
                });
                if (res.status === 'success') {
                    this.$message.success('评分成功！');
                }
                setTimeout(() => {
                    this.$hideLoading();
                    this.$router.go(-1);
                }, 2000);
            } catch (err) {
                this.$hideLoading();
            }
        }
    },
    components: { Back }
};
</script>
<style lang="less" scoped="scoped">

</style>
